<form xmlns:th="http://www.thymeleaf.org" id="form-add" data-parsley-validate
	class="form-horizontal form-label-left" method="POST" enctype="multipart/form-data">

	<div class="item form-group">
		<label class="col-form-label col-md-3 col-sm-3 label-align"
			for="title">Title <span class="required">*</span>
		</label>
		<div class="col-md-6 col-sm-6 ">
			<input type="text" name="title" id="title" required="required"
				class="form-control ">
		</div>
	</div>
	<div class="item form-group">
		<div class="col-md-12 col-sm-12 ">
			<div id="fileuploader">Upload Content</div>
		</div>
	</div>
	<div class="ln_solid"></div>
	<div class="item form-group">
		<div class="col-md-6 col-sm-6 offset-md-3">
		<input type="hidden" id="content" name="content"/>
			<button class="btn btn-primary" type="reset">Reset</button>
			<button id="btn-submit" type=button class="btn btn-success">Submit</button>
		</div>
	</div>
	<script th:inline="javascript">
	$(document).ready(function()
	{
		let urlUpload = "/comic/" + [[${comicChapter.comicId}]] + "/chapter/upload";
		var fielUploader = $("#fileuploader").uploadFile({
			url: urlUpload,
			multiple:true,
			dragDrop:true,
			fileName:"myfile",
			acceptFiles:"image/*",
			onSuccess: function(file, data, xhr, pd) {
				$("#content").val(function() {
					return this.value + data;
				});
			},
			afterUploadAll:function(obj) {
				$("#form-add").submit();	
			}
		});
		$("#btn-submit").click(function(e) {
			e.preventDefault();
		});
	});
	</script>
</form>