<form xmlns:th="http://www.thymeleaf.org" id="form-update" data-parsley-validate
	class="form-horizontal form-label-left" th:method="PUT" th:object="${category}">
	<div class="item form-group">
		<label class="col-form-label col-md-3 col-sm-3 label-align"
			for="name">Name <span class="required">*</span>
		</label>
		<div class="col-md-6 col-sm-6 ">
			<input th:field="*{name}" type="text" name="name" id="name" required="required"
				class="form-control ">
		</div>
	</div>
	<div class="item form-group">
		<label class="col-form-label col-md-3 col-sm-3 label-align"
			for="descripiton">Description
		</label>
		<div class="col-md-6 col-sm-6 ">
			<input  th:field="*{description}"  type="text" id="description" name="description"
				class="form-control">
		</div>
	</div>
	<div class="form-group row">
		<label class="control-label col-md-3 col-sm-3 ">Id category</label>
		<div class="col-md-9 col-sm-9 ">
			<select th:field="*{idCategory}" class="form-control">
				<option value="0">Choose option</option>
				<option th:each="data : ${categories}" th:value="${data.id}" th:text="${data.name}" th:selected="${data.id == category.idCategory}"></option>
			</select>
		</div>
	</div>
	<div class="ln_solid"></div>
	<div class="item form-group">
		<div class="col-md-6 col-sm-6 offset-md-3">
			<button class="btn btn-primary" type="reset">Reset</button>
			<button type="submit" class="btn btn-success">Submit</button>
		</div>
	</div>
	
	<script th:inline="javascript">
	$("#form-update").submit(function(e) {
		e.preventDefault();
		let form = $(this);
		let id = [[${category.id}]];
		$.modal.close();
		$.ajax({
		  contentType: "application/json",
		  type: "PUT",
		  data: JSON.stringify(form.serializeToJSON()),
		  url: "/category/" + id,
		}).done(function(result) {
			toastr.info(result);
		})
	})
	</script>
</form>
