<form xmlns:th="http://www.thymeleaf.org" id="form-add" data-parsley-validate
	class="form-horizontal form-label-left" method="POST" enctype="multipart/form-data">

	<div class="item form-group">
		<label class="col-form-label col-md-3 col-sm-3 label-align"
			for="title">Title <span class="required">*</span>
		</label>
		<div class="col-md-6 col-sm-6 ">
			<input type="text" name="title" id="title" required="required"
				class="form-control ">
		</div>
	</div>
	<div class="item form-group">
		<label class="col-form-label col-md-3 col-sm-3 label-align"
			for="file">Image <span class="required">*</span>
		</label>
		<div class="col-md-6 col-sm-6 ">
			<input type="file" name="file" id="file" required="required"
				class="form-control" accept=".png, .jpg, .jpeg">
		</div>
	</div>
	<div class="item form-group">
		<label class="col-form-label col-md-3 col-sm-3 label-align"
			for="descripiton">Description
		</label>
		<div class="col-md-6 col-sm-6 ">
			<input type="text" id="description" name="description"
				class="form-control">
		</div>
	</div>
	<div class="form-group item">
		<label class="col-form-label col-md-3 col-sm-3 label-align">Status</label>
		<div class="col-md-9 col-sm-9  ">
			<select class="form-control" id="status" name="status">
				<option th:each="data, iter : ${statuses}" th:value="${iter.index}" th:text="${data}"></option>
			</select>
		</div>
	</div>
	<div class="form-group item">
		<label class="col-form-label col-md-3 col-sm-3 label-align">Category</label>
		<div class="col-md-9 col-sm-9  ">
			<select class="form-control" id="status" name="status">
				<option th:each="data : ${categories}" th:value="${data.id}" th:text="${data.name}"></option>
			</select>
		</div>
	</div>
	<div class="ln_solid"></div>
	<div class="item form-group">
		<div class="col-md-6 col-sm-6 offset-md-3">
			<button class="btn btn-primary" type="reset">Reset</button>
			<button type="submit" class="btn btn-success">Submit</button>
		</div>
	</div>
</form>